body {
	background-color: pink;
	
}
h1 {
	text-align: center;
	color : brown;
	text-transform: uppercase;
}
ul.square{
	list-style-type: square;
}
p {  
   serif-family: "Times New Roman", Times, serif;
}
p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
p.italic {
    font-style: italic;
}
